%section.login
  .center
    %h3 请注册
  = devise_error_messages!

  =form_for resource, as: resource_name, url: registration_path(resource_name)do |f|
    .form-group
      =f.label :email
      =f.email_field :email, autofocus: true, class: "form-control"
    .form-group
      = f.label :password, "密码"
      -if @validatable
        %span.small (最少#{@minimum_password_length}字符)
      = f.password_field :password,  class: "form-control"
    .form-group
      = f.label :password, "确认密码"
      = f.password_field :password_confirmation,  class: "form-control"
    .form-group
      = f.label :currency, "采购货币"
      = f.select :currency, Currency::SUPPORTED_CURRENCIES,  class: "form-control"

   
    %br
    .center
      %button.btn.btn-success{type: "submit"} 注册