%p#notice= notice

%p
  %b Product:
  = @order_item.product
%p
  %b Client:
  = @order_item.client
%p
  %b Quantity:
  = @order_item.quantity
%p
  %b Status:
  = @order_item.status
%p
  %b Buy price:
  = @order_item.buy_price
%p
  %b Sale price:
  = @order_item.sale_price
%p
  %b Sale price unit:
  = @order_item.sale_price_unit

= link_to 'Edit', edit_order_item_path(@order_item)
\|
= link_to 'Back', order_items_path
