!!!
%html{"ng-app" => "myod"}
  %head
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}
    %link{:href => "#{asset_path('touch-icon-iphone.png')}", :rel => "apple-touch-icon-precomposed", :sizes => "57x57"}
    %link{:href => "#{asset_path('touch-icon-ipad.png')}", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    %link{:href => "#{asset_path('touch-icon-iphone-retina.png')}", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    %link{:href => "#{asset_path('touch-icon-ipad-retina.png')}", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
    %link{:href => "#{asset_path('android-icon.png')}", :rel => "icon", :sizes => "128x128"}
    %title 代购本- 专业代购管理系统
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .myod{"ng-view" => ""}
      = yield
